In [3]:
def replace_id(id):
    if len(id) == 14 and id[:6].isdigit() and id[7:].isdigit():
        id = id[:7] + "*******"
    return id


replace_id("900128-1234566")

'900128-*******'

In [4]:
import pandas as pd

data = [
    ["김김밥", "900128-1234566"],
    ["이열무", "910318-1234567"],
    ["최냉면", "810501-1234568"],
    ["박말이", "980501-1234569"]
]

df = pd.DataFrame(data, columns=["이름","주민번호"])
df["주민번호"] = df["주민번호"].apply(lambda x: replace_id(x))

df

    이름            주민번호
0  김김밥  900128-*******
1  이열무  910318-*******
2  최냉면  810501-*******
3  박말이  980501-*******

In [5]:
import re

data = [
    ["김김밥", "900128-1234566"],
    ["이열무", "910318-1234567"],
    ["최냉면", "810501-1234568"],
    ["박말이", "980501-1234569"]
]

df = pd.DataFrame(data, columns=["이름","주민번호"])

regx = re.compile("(\d{6})[-]\d{7}")
df["주민번호"] = df["주민번호"].apply(lambda x: regx.sub("\g<1>-*******", x))
df

    이름            주민번호
0  김김밥  900128-*******
1  이열무  910318-*******
2  최냉면  810501-*******
3  박말이  980501-*******

In [6]:
import re
regx = re.compile("[abc]")
m = regx.match("before")
m

In [7]:
# 정규식을 이용하여 올바른 이메일 형식인지 확인하기

import re

email_regex = re.compile("[A-Za-z0-9]@[A-Za-z0-9].[A-Za-z]")

email_input = "yerang040231@gmail.com"
email_regex.search(email_input)

In [8]:
# 정규식을 이용하여 전화번호 형식 확인하기

phone_regex = re.compile("^(01)\d{1}-\d{3,4}-\d{4}$")
phone_input = "010-4274-0974"
phone_regex.search(phone_input)