In [4]:
def replace_id(id):
    if len(id) == 14 and id[:6].isdigit() and id[7:].isdigit():
        id = id[:7] + "*******"
    return id


replace_id("900128-1234566")

'900128-*******'

In [6]:
import pandas as pd

data = [
    ["김김밥", "900128-1234566"],
    ["이열무", "910318-1234567"],
    ["최냉면", "810501-1234568"],
    ["박말이", "980501-1234569"]
]

df = pd.DataFrame(data, columns=["이름","주민번호"])
df["주민번호"] = df["주민번호"].apply(replace_id)
df

    이름            주민번호
0  김김밥  900128-*******
1  이열무  910318-*******
2  최냉면  810501-*******
3  박말이  980501-*******

In [76]:
import re

data = [
    ["김김밥", "10003012"],
    ["이열무", "10003015"],
    ["최냉면", "10003014"],
    ["박말이", "10003013"]
]

df = pd.DataFrame(data, columns=["이름","주민번호"])

regx = re.compile("(1000[0-9]{4})")
df["주민번호"] = df["주민번호"].apply(lambda x: regx.sub("db \g<1>", x))
df

    이름         주민번호
0  김김밥  db 10003012
1  이열무  db 10003015
2  최냉면  db 10003014
3  박말이  db 10003013

In [84]:
regx = re.compile("(\d{1,2}월) (\d{1,2}일), (\d{4}년)")
regx.sub("\g<3> \g<1> \g<2>", "8월 18일, 2022년")

'2022년 8월 18일'

In [32]:
import re
regx = re.compile("[0-9ㄱ-ㅎ]{3,}")
m = regx.findall("aㅎba ft a0bc erbe fore aaaaa aafaaa zxy 00 ㅋㅋㅋ")
m

['ㅋㅋㅋ']

In [22]:
import re
regx = re.compile("[a-z]")
m = regx.findall("abcdef01234")
m

['a', 'b', 'c', 'd', 'e', 'f']

In [26]:
import re
regx = re.compile("[0-9]{3,5}")
m = regx.findall("abcdef01def010abc123456789")
m

['010', '12345', '6789']

In [60]:
# 정규식을 이용하여 올바른 이메일 형식인지 확인하기

import re

email_regex = re.compile("[0-9]{2,3}-[0-9]{3,4}-[0-9]{3,4}")

email_input = "019-331-1234"
email_regex.match(email_input)

# 실습1 : 아이디 길이가 6이상인 email 형식인지 확인해 보는 코드를 작성해 보세요.

In [2]:
# 정규식을 이용하여 전화번호 형식 확인하기


phone_regex = re.compile("(01)\d{1}-\d{3,4}-\d{4}$")
phone_input = "010-4274-0974"
phone_regex.search(phone_input)

# 실습2 : 올바른 휴대폰 번호 형식인지 판별하는 코드를 작성해 보세요.

In [40]:
phone_regex = re.compile("\d{3}-\d{3,4}-\d{4}")
phone_input = "010-4274-0974"
phone_regex.search(phone_input)

# 실습3 : 올바른 휴대폰 번호 또는 전화번호 형식인지 판별하는 코드를 작성해 보세요.

In [61]:
import re

data = [
    ["김김밥", "900128-1234566"],
    ["이열무", "910318-1234567"],
    ["최냉면", "810501-1234568"],
    ["박말이", "980501-1234569"]
]

df = pd.DataFrame(data, columns=["이름","주민번호"])

regx = re.compile("(\d{6})[-]\d{7}")
df["주민번호"] = df["주민번호"].apply(lambda x: regx.sub("\\1-*******", x))
df

    이름            주민번호
0  김김밥  900128-*******
1  이열무  910318-*******
2  최냉면  810501-*******
3  박말이  980501-*******

In [62]:
import re

data = [
    ["김김밥", "010-1234-5678"],
    ["이열무", "910318-1234567"],
    ["최냉면", "810501-1234568"],
    ["박말이", "980501-1234569"]
]

df = pd.DataFrame(data, columns=["이름","주민번호"])

regx = re.compile("(\d{3})[-]\d{4}[-]\d{4}")
df["주민번호"] = df["주민번호"].apply(lambda x: regx.sub("\\1-*******", x))
df

    이름            주민번호
0  김김밥     010-*******
1  이열무  910318-1234567
2  최냉면  810501-1234568
3  박말이  980501-1234569