In [6]:
import pymysql

connection = pymysql.connect(user="bblog", host="13.209.64.238", passwd="020406")
cursor = connection.cursor()

In [7]:
sql = "CREATE TABLE study.Student(Name text, grade int, phone_number text);"

cursor.execute(sql)

0

sql 구문을 cursor 클래스의 execute 메소드를 통해 수행합니다.

In [33]:
insert_query = "INSERT INTO study.Student Values('louis', 1, '01042740974')"

cursor.execute(insert_query)

1

In [34]:
insert_query = "INSERT INTO study.Student Values('nancy', 1, '01012345678')"

cursor.execute(insert_query)

1

name과 phone_number 값은 문자열이므로 insert 구문에서 ''로 감싸 값을 표현 합니다.  
insert 쿼리를 호출하고 난다음 execute의 반환값은 추가된 행의 개수입니다.  
insert_query는 1개의 행만을 추가하였으므로 1이라는 값이 반환된것을 확인할 수 있습니다.  
  
변경 내용을 데이터베이스에 최종 적용하려면 commit 함수를 사용합니다.

In [35]:
connection.commit()

In [15]:
select_query = "SELECT * FROM study.Student;"

cursor.execute(select_query)

2

select 쿼리를 호출한 이후에는 execute 메소드는 쿼리 결과의 로우 행 개수 값을 반환합니다.  
선택된 행 자체를 가져오고 싶을때에는 fetchall이나 fetchone 함수를 이용합니다.

In [16]:
cursor.fetchall()

(('louis', 1, '01042740974'), ('nancy', 1, '01012345678'))

In [18]:
select_query = "SELECT * FROM study.Student;"

cursor.execute(select_query)
cursor.fetchone()

('louis', 1, '01042740974')

In [22]:
update_query = "UPDATE study.Student SET grade = 2 where name = 'louis'";

cursor.execute(update_query)
connection.commit()

select_query = "SELECT * FROM study.Student where name = 'louis';"

cursor.execute(select_query)
cursor.fetchall()

(('louis', 2, '01042740974'),)

루이스가 자퇴를 한다고 합니다.  
따라서 루이스에 대한 데이터를 삭제할 필요가 있습니다.  
아래와 같이 DELETE 쿼리를 사용하여 행을 삭제합니다.

In [23]:
delete_query = "DELETE FROM study.Student where name = 'louis'"

cursor.execute(delete_query)
connection.commit()

select_query = "SELECT * FROM study.Student where name = 'louis';"

cursor.execute(select_query)
cursor.fetchall()

()

# DELETE 쿼리는 조심해서 사용해야 합니다.
---

where 조건 없이 "DELETE FROM study.Student" 쿼리를 실행하면 모든 데이터가 삭제되니 주의해서 사용해야 합니다!

# 데이터베이스에 있는 데이터를 pandas DataFrame을 통해 읽어오기
---

In [36]:
import pandas as pd

select_query = "SELECT * FROM study.Student"
pd.read_sql_query(select_query,connection)

/Users/louis/Library/Python/3.8/lib/python/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

    Name  grade phone_number
0  louis      1  01042740974
1  nancy      1  01012345678

# DataFrame을 데이터베이스에 Append 하기
---

In [43]:
import pandas as pd


from sqlalchemy import create_engine
import pymysql
import pandas as pd

db_connection_str = 'mysql+pymysql://bblog:020406@13.209.64.238/study'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()


new_students = [
    ('bob', 1, "01056781234"),
    ('alice', 1, "01012345678"),
]

df = pd.DataFrame(new_students, columns=["name","grade","phone_number"])
df.to_sql(name='student', con=conn, if_exists='append',index=False)

2

# DataFrame을 데이터베이스에 replace 하기
---

In [45]:
import pandas as pd


from sqlalchemy import create_engine
import pymysql
import pandas as pd

db_connection_str = 'mysql+pymysql://bblog:020406@13.209.64.238/study'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()


new_students = [
    ('bob', 1, "01056781234"),
    ('alice', 1, "01012345678"),
]

df = pd.DataFrame(new_students, columns=["name","grade","phone_number"])
df.to_sql(name='student', con=conn, if_exists='replace',index=False)

2

# replace 옵션으로 to_sql을 실행할 때에는 기존 데이터가 사라지니 주의 합시다.