In [5]:
import pandas as pd

values = [ [7000, "R&D"], [ 9000, "인사" ], [ 3000, "영업"] ]
columns = [ "지출", "부서" ]

df = pd.DataFrame(values,columns=columns)
print(df)

     지출   부서
0  7000  R&D
1  9000   인사
2  3000   영업

In [6]:
import pandas as pd

values = [ [7000, "R&D"], [ 9000, "인사" ], [ 3000, "영업"] ]
dates = [ "20210101", "20210102", "20210103" ]

columns = [ "지출", "부서" ]

df = pd.DataFrame(values,columns=columns)
df.index = dates
print(df)

            지출   부서
20210101  7000  R&D
20210102  9000   인사
20210103  3000   영업

In [9]:
import pandas as pd

values = [ [7000, "R&D"], [ 9000, "인사" ], [ 3000, "영업"] ]
dates = [ "20210101", "20210102", "20210103" ]

columns = [ "지출", "부서" ]

df = pd.DataFrame(values,columns=columns)
df.index = dates

print(df)
df.iloc[1:,:]

            지출   부서
20210101  7000  R&D
20210102  9000   인사
20210103  3000   영업

            지출  부서
20210102  9000  인사
20210103  3000  영업

In [12]:
import pandas as pd

values = [ [7000, "R&D"], [ 9000, "인사" ], [ 3000, "영업"] ]
dates = [ "20210101", "20210102", "20210103" ]

columns = [ "지출", "부서" ]

df = pd.DataFrame(values,columns=columns)
df.index = dates

print(df)
df.loc["20210102","지출"]

            지출   부서
20210101  7000  R&D
20210102  9000   인사
20210103  3000   영업

9000

In [16]:
df["지출"]

20210101    7000
20210102    9000
20210103    3000
Name: 지출, dtype: int64

In [18]:
import pandas as pd

values = [ 
    [7000, "R&D"], 
    [ 9000, "인사" ], 
    [ 3000, "영업"], 
    [ 20000, "인사" ], 
    [ 4000, "영업" ] 
]

dates = [ "20210101", "20210102", "20210103", "20210104", "20210105" ]
columns = [ "지출", "부서" ]

df = pd.DataFrame(values,columns=columns)
df.index = dates

df

             지출   부서
20210101   7000  R&D
20210102   9000   인사
20210103   3000   영업
20210104  20000   인사
20210105   4000   영업

In [24]:
import pandas as pd

values = [ 
    [7000, "R&D"], 
    [ 9000, "인사" ], 
    [ 3000, "영업"], 
    [ 20000, "인사" ], 
    [ 4000, "영업" ] 
]

dates = [ "20210101", "20210102", "20210103", "20210104", "20210105" ]
columns = [ "지출", "부서" ]

df = pd.DataFrame(values,columns=columns)
df.index = dates

sales_team_expenses = df[ df["부서"] == "영업"]
sales_team_expenses["지출"].sum()

7000

In [29]:
import pandas as pd

values = [ 
    [7000, "R&D"], 
    [ 9000, "인사" ], 
    [ 3000, "영업"], 
    [ 20000, "인사" ], 
    [ 4000, "영업" ],
    [ 35000, "영업"],
    [11000, "R&D"]
]

dates = [ 
    "20210101", "20210102", "20210103", 
    "20210104", "20210105", "20210106", 
    "20210107" 
]
columns = [ "지출", "부서" ]
df[ (df["부서"] == "영업") | (df["지출"] < 10000)]

             지출   부서
20210101   7000  R&D
20210102   9000   인사
20210103   3000   영업
20210105   4000   영업
20210106  35000   영업

In [53]:
import pandas as pd

values = [ 
    [7000, "R&D"], 
    [ 9000, "인사" ], 
    [ 3000, "영업"], 
    [ 20000, "인사" ], 
    [ 4000, "영업" ],
    [ 35000, "영업"],
    [11000, "R&D"]
]

dates = [ 
    "20210101", "20210102", "20210103", 
    "20210104", "20210105", "20210106", 
    "20210107" 
]
columns = [ "지출", "부서" ]

df = pd.DataFrame(values,columns=columns)
expenses_dep = df.groupby("부서").sum()
expenses_dep

        지출
부서
R&D  18000
영업   42000
인사   29000

In [63]:
import pandas as pd

values = [ 
    [ 40000, "R&D"], 
    [ 27000, "인사" ], 
    [ 44000, "영업"], 
]

columns = [ "수입", "부서" ]

income_dep = pd.DataFrame(values)
income_dep.columns = columns
income_dep

pd.merge(expenses_dep, income_dep, how='inner', left_index=True, right_on='부서')

      지출     수입   부서
0  18000  40000  R&D
2  42000  44000   영업
1  29000  27000   인사

In [68]:
import pandas as pd

values = [ 
    [ 40000 ], 
    [ 27000 ], 
    [ 44000 ], 
]

index = [ 
    "R&D", 
    "인사", 
    "영업", 
]

columns = [ "수입" ]

income_dep = pd.DataFrame(values,columns=columns)
income_dep.index = index

joint_df = pd.merge(expenses_dep, income_dep, how='inner', left_index=True, right_index=True)

In [74]:
joint_df["비율"] = joint_df.apply(lambda x: x["지출"] / x["수입"], axis=1)
joint_df

        지출     수입        비율
R&D  18000  40000  0.450000
영업   42000  44000  0.954545
인사   29000  27000  1.074074

In [122]:
import pandas as pd

values = [ 
    [ "20210101", 7000, "R&D", "식비" ], 
    [ "20210101", 9000, "인사", "식비" ], 
    [ "20210101", 3000, "영업", "식비" ], 
    [ "20210102", 20000, "인사", "비품구입비" ], 
    [ "20210102", 4000, "영업", "식비" ], 
    [ "20210102", 35000, "영업", "접대비" ], 
    [ "20210102", 11000, "R&D", "식비" ], 
]

columns = [ 
    "날짜",
    "금액",
    "부서",
    "항목"
]

df = pd.DataFrame(values,columns=columns)
df.to_csv('test.csv')

In [108]:
import numpy as np
df.pivot_table(index='날짜', values='금액', columns="부서", aggfunc=np.mean)

부서          R&D     영업     인사
날짜
20210101   7000   3000   9000
20210102  11000  19500  20000

In [112]:
import numpy as np
df.pivot_table(index='날짜', values='금액', columns=[ "부서", "항목" ], 
               aggfunc=np.sum)

부서            R&D      영업                인사
항목             식비      식비      접대비    비품구입비      식비
날짜
20210101   7000.0  3000.0      NaN      NaN  9000.0
20210102  11000.0  4000.0  35000.0  20000.0     NaN

In [119]:
import numpy as np
df.pivot_table(index='날짜', values=[ '금액', '부서' ], columns=[ "항목" ], 
               aggfunc={
                    '금액': [ np.sum, np.max ],
                    '부서': 'count'
                },
               fill_value=0)

             금액                                       부서
           amax                  sum               count
항목        비품구입비     식비    접대비  비품구입비     식비    접대비 비품구입비 식비 접대비
날짜
20210101      0   9000      0      0  19000      0     0  3   0
20210102  20000  11000  35000  20000  15000  35000     1  2   1

In [135]:
data = [
    ["김김밥", "900128-1234566"],
    ["이열무", "910318-1234567"],
    ["최냉면", "810501-1234568"],
    ["박말이", "980501-1234569"]
]

df = pd.DataFrame(data, columns=["이름","주민번호"])
df["주민번호"] = df["주민번호"].apply(lambda x: replace_id(x))

df

    이름            주민번호
0  김김밥  900128-*******
1  이열무  910318-*******
2  최냉면  810501-*******
3  박말이  980501-*******

In [131]:
id = "900128-1234566"
word = id
if len(word) == 14 and word[:6].isdigit() and word[7:].isdigit():
    word = word[:7] + "*******"
word

'900128-*******'

In [134]:
def replace_id(id):
    if len(id) == 14 and id[:6].isdigit() and id[7:].isdigit():
        id = id[:7] + "*******"
    return id


replace_id("900128-1234566")

'900128-*******'

In [4]:
import re

data = [
    ["김김밥", "900128-1234566"],
    ["이열무", "910318-1234567"],
    ["최냉면", "810501-1234568"],
    ["박말이", "980501-1234569"]
]

df = pd.DataFrame(data, columns=["이름","주민번호"])

regx = re.compile("(\d{6})[-]\d{7}")
df["주민번호"] = df["주민번호"].apply(lambda x: regx.sub("\g<1>-*******", x))
df

    이름            주민번호
0  김김밥  900128-*******
1  이열무  910318-*******
2  최냉면  810501-*******
3  박말이  980501-*******

In [9]:
import re
regx = re.compile("[abc]")
m = regx.match("before")
m

In [3]:
# 정규식을 이용하여 올바른 이메일 형식인지 확인하기

import re

email_regex = re.compile("[A-Za-z0-9]@[A-Za-z0-9].[A-Za-z]")

email_input = "yerang040231@gmail.com"
email_regex.search(email_input)

In [4]:
# 정규식을 이용하여 전화번호 형식 확인하기

phone_regex = re.compile("^(01)\d{1}-\d{3,4}-\d{4}$")
phone_input = "010-4274-0974"
phone_regex.search(phone_input)